body    {
    background-color: white;
}

.line {
    width: 100%;
    height: 4px; /* Adjust the thickness of the line as needed */
    background-color: #003CAA; /* Change color as desired */
}

h1 {
    font-family: 'Urbanist', sans-serif;
    color: #003CAA;
}

h2 {
    font-family: 'Urbanist', sans-serif;
    color: #003CAA;
    font-weight: 700;
}

.about  {
    font-family: 'Urbanist' , sans-serif;
    color: #003CAA;
    font-weight: 500;
}

iframe  {
    padding: 1rem;
}

.container {
    display: flex;
    padding: 1rem;
    /* flex-direction: column;
    height: 100%; */
}

/*
removing flex-direction: column and height: 100% creates a column. need to find out how to make that column wider
*/


.white1 , .white2 {
    height: 100%;
    flex: 1;
    background-color: #ffffff; /* White color */
    border-color: #003CAA;
}
  
.blue {
    height: 100%;
    flex: 1;
    background-color: #003CAA; /* #003CAA color */
}