/*horizontal menu*/
body {
    background-color: white;
    font-family: Arial, sans-serif;
    display: flex;
    /*padding: 12px 13px;*/
    flex-direction: column;
    align-items: flex-start;
    /*gap: 10px;*/
}


ul {
    list-style: none;
    margin: 0;
    display: flex;
}

li {
    padding: 1rem;
    /* margin-right: 20px;*/
}

a {
    text-decoration: none;
    color: #003CAA;
    display: inline-block; /*make the width fixed*/
    padding: 0.5rem;
    text-align: center; /* Center-align text within the link */
}

a:hover {
    background-color: #003CAA;
    color: white;
  
}


/*grid*/ 

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(calc(25% - 20px), 1fr));
    grid-gap: 20px;
    max-width: 1200px;
    justify-items: center;
    align-items: center;
    /* from pc music:display: ;
    display: grid;
    gap: max(24px,2vw);
    margin: 0;
    padding: max(27px,2.25vw) max(24px,2vw);
    grid-template-columns: repeat(auto-fit,minmax(min(calc(320px + 2vw),100%),1fr));
    justify-items: stretch;
    align-items: stretch;
    background-color: #fff;
    color: #00f;
    color: color(display-p3 0 0 1);
    border-radius: max(8px,0.667vw);


    repeat(auto-fit, minmax(: This part of the expression sets up repeating columns that will automatically fit in the available space.

    min(: This starts the definition of the minimum size for each column.

    calc(320px + 2vw), 100%): This is a calculation that combines a 
    fixed minimum size (320px) with a relative size based on the viewport width (2vw). It calculates a minimum size that's at least 320px and grows as the viewport width increases. The , 100%) sets a maximum size for the column to be 100% of the available space.

    1fr: This defines the columns as fractional units, which will distribute any remaining space equally among them.

    */

}

.grid-item {
    border: 2px solid #003CAA;
    text-align: center;
    border-radius: 5px;
    padding: 20px;
}

.grid-item img {
    border: 1px solid #003CAA;
    max-width: 70%;
    height: auto;
    margin-bottom: 10px;
}

.grid-item h3 {
    font-size: 13px;
    margin: 0;
}

.grid-item p {
    font-size: 12px;
    margin: 5px 0;
}